#articles {
    background: white;
  }
  
  nav {
      background: lightskyblue;
      height: 3.6rem;
      flex-flow: row;
      clear: both;
      left: 15%;
      position: absolute;
      width:94%;
  }
  
  .pageTitle {
      font-size: 4rem;
      font-family: 'Rubik', sans-serif;
      letter-spacing: -0.15rem;
  }
  
  #theName {
      left: -10%;
      position: absolute;
      top: 7rem;
      transform: rotate(270deg);
      border-bottom: solid .5rem red;
      height: 7rem;
  }
  
  button {
    background: #F7A979;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: white;
    border-radius: 4%;
    box-shadow: .1rem .1rem black;
  }